@import '../variables.css';
.contact-form {
	display:flex;
	flex-direction: column;
	gap: var(--space-sm);
	.contact-form-label {
		font-weight: var(--fw-extrabold);
		font-size: var(--font-size-md);
	} 
	.contact-form-input, .contact-form-textarea {
		border: 1px solid var(--primary-color);
		border-radius: var(--radius-md);
		padding:15px;
		background-color: inherit;
	}
	.contact-form-textarea {
		height: 150px;
	}
	.contact-button {
		border-radius: var(--radius-md);
		padding: var(--space-sm);
		background-color: var(--primary-color);
		color: var(--secondary-color);
		font-weight: var(--fw-bold);
		font-size: var(--font-size-md);
	}
    .contact-button:hover {
        background-color: var(--color-accent);
        cursor: pointer;
    }
}