@import url('../variables.css');

.footer {
	margin-top: var(--space-lg);
	padding-top: var(--space-sm);
	border-top: 1px solid var(--primary-color);

	.footer-top {
		.footer-navigation {
			display: flex;
			justify-content: space-evenly;
			list-style-type: none;
			padding-left: 0;
			font-size: var(--font-size-md);

			.footer-link a{
				text-decoration: none;
				color: inherit;
				border-bottom: 2px solid transparent; 
				transition: border-color 0.3s ease;
			}

			.footer-link:hover a{
				border-bottom-color: var(--primary-color);
			}
		}
	}

	.footer-middle {
		.socials {
			list-style-type:none;
			padding-left: 0;
			display:flex;
			justify-content: space-evenly;

			.social-icon {
				display: flex;

				.social-icon-link {
					color: inherit;
					text-decoration: none;
					padding:var(--space-xs);
					height:25px;
				}
			}

			.social-icon-link:hover {
				background-color: var(--primary-color);
				color: var(--secondary-color);
				border-radius: var(--radius-fifty);
			}
		}
	}

	.footer-bottom {
		text-align: center;
	}
}
