@import '../variables.css';

.hero-container {
  position: relative;
  padding: var(--space-5xl) var(--space-2xl);
  
}

.hero-content {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  font-size: var(--font-size-base);
}

.hero-title {
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin: 0.5rem 0;
}

.subtitle {
  font-size: var(--font-size-lg);
  margin-bottom: var(--space-md);
}

.description {
  font-size: var(--font-size-base);
  line-height: 1.6;
  margin-bottom: var(--space-2xl);
}

.hero-button-container {
  display: flex;
  justify-content: center;
  gap: var(--space-md);

  .link-button {
    height: 30px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
    .hero-container {
        height: calc(90vh - 85px);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero-title {
        font-size: var(--font-size-4xl);
    }
    .intro {
        font-size: var(--font-size-xl);
    }
    .subtitle {
        font-size: var(--font-size-2xl);
    }
    .description {
        font-size: var(--font-size-lg);
    }
    .link-button, .secondary{
        width: 250px;
        display: flex;
        justify-content: center;
        border-radius:var(--radius-md);
        font-size: var(--font-size-base);
        font-weight: var(--fw-bold);
    }
}