@import url('../variables.css');

.projectcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  border: 1px solid rgb(0 0 0 / 5%);
  margin: var(--space-md);
  height: 450px;
  width: 350px;
  padding: var(--space-md);

  .projectcard-image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .projectcard-image {
      object-fit: contain;
      height: 200px;
      margin: var(--space-md);
      border: 1px solid var(--primary-color);
      border-radius: 8px;
    }
  }

  .projectcard-title {
    margin: var(--space-xs);
  }

  .projectcard-description {
    width: 80%;
    font-style: italic;
  }
}

.projectcard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media screen and (width >=768px) {
  .projectcard {
    padding: 15px;
    width:450px;
    height: 600px;
  }
}
