@import '../variables.css';

.techstack-wrapper {
	.techstack-container {
		display:flex;
		gap: var(--space-lg);
		flex-wrap:wrap;
		justify-content: center;
		padding: var(--space-sm);
		.techstack {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 60px;
			position:relative;
			transition: transform 0.3 ease;
			.techstack-icon {
				max-height: 50px;
				transition: transform 0.3 ease;
			}
			.techstack-icon.hovered {
				transform: scale(1.2);
			}
			.techstack-name {
				font-size: var(--font-size-xs);
				margin-top: 5px;
				opacity: 0;
				transform: translateY(5px);
				transition: all 0.3 ease;
			}
			.techstack-name.visible {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}