@import url('../variables.css');

.techstack-wrapper {
  padding: var(--space-lg) 0;
  text-align: center;


  .techstack-container {
    display: flex;
    gap: var(--space-lg);
    flex-wrap: wrap;
    justify-content: center;
    padding: var(--space-sm);

    .techstack {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 90px;
      background-color: var(--secondary-color);
      border-radius: var(--radius-md);
      box-shadow: var(--shadow-sm);
      border: 1px solid rgb(0 0 0 / 5%);

      .techstack-icon {
        height: 50px;
        width: 50px;
        object-fit: contain;
      }

      .techstack-name {
        font-size: var(--font-size-xs);
        font-weight: var(--fw-medium);
        color: var(--primary-color);
        margin-top: var(--space-xs);
      }
    }

	.techstack:hover {
		transform: scale(1.2);
	}
  }
}

@media screen and (width >= 768px) {
  .techstack-wrapper {
    .techstack-container {
      .techstack {
        height: 110px;
        width:100px;

        .techstack-icon {
          height: 75px;
		      width: 75px;
        }
      }
    }
  }
}