@import '../variables.css';

.home {
	.home-container {
		width:90vw;
		margin: 0 auto;
		.home-projects-title,
		.experience-title,
		.education-title {
			font-size: var(--font-size-xl);
			font-weight: var(--fw-bold);
			color: var(--primary-color);
			margin-bottom: var(--space-md);
			letter-spacing: -0.5px;
			text-align: center;
		}
		.home-projects-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			.home-projects {
				max-width:80vw;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin: 0 auto;
			}
		}	
		.contact-cta {
			margin-top: 40px;
			text-align:center;
			.contact-cta-text {
				font-size: var(--font-size-md);
				color: var(--primary-color);
			}
		}
	} 
}

@media screen and (min-width: 768px) {
	.home {
		.home-container {
			width:70vw;
			.home-projects-container {
				
				.home-projects {
					flex-direction: row;
				}
			}
			.experience {
				display: flex;
				flex-direction:column;
				align-items: center;
			}
			.education {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.contact-cta {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.contact-cta-text {

				}
			}
		}
	}
}