@import '../variables.css';

.coming-soon {
	min-height: 80vh;
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
 	padding: var(--space-2xl);

	.coming-soon-title {
		font-size: var(--font-size-2xl);
		margin-bottom: var(--space-md);
	}
	.coming-soon-text {
		font-size: var(--font-size-md);
	}
}
