@import url('./variables.css');

/* Components */
@import url('./components/navbar.css');
@import url('./components/footer.css');
@import url('./components/techstack.css');
@import url('./components/projectcard.css');
@import url('./components/experiencecard.css');
@import url('./components/educationcard.css');
@import url('./components/contactform.css');
@import url('./components/button.css');
@import url('./components/hero.css');
@import url('./components/largeprojectcard.css');
@import url('./components/techstacklarge.css');

/* Pages */
@import url('./pages/about.css');
@import url('./pages/contact.css');
@import url('./pages/success.css');
@import url('./pages/home.css');
@import url('./pages/projects.css');
@import url('./pages/projectdetails.css');

body {
	font-family: var(--base-font);
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: var(--fw-regular);
	font-style: normal;
  	margin: 0;
}

html, body {
	overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  border: 0;
}