@import url('./variables.css');

/* Components */
@import url('./components/navbar.css');
@import url('./components/footer.css');
@import url('./components/techstack.css');
@import url('./components/projectcard.css');
@import url('./components/experiencecard.css');
@import url('./components/educationcard.css');
@import url('./components/contactform.css');
@import url('./components/button.css');
@import url('./components/hero.css');
@import url('./components/largeprojectcard.css');
@import url('./components/techstacklarge.css');

/* Pages */
@import url('./pages/about.css');
@import url('./pages/contact.css');
@import url('./pages/success.css');
@import url('./pages/home.css');
@import url('./pages/projects.css');
@import url('./pages/projectdetails.css');
@import url('./pages/privacy.css');

body {
	font-family: var(--base-font);
	background-color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: var(--fw-regular);
	font-style: normal;
  margin: 0;
}

.reduced-motion * {
  transform: none !important;
  opacity: 1 !important;
  transition: none !important;
  animation: none !important;
}

.privacy-link {
  color:inherit;
}

.dark {
  --primary-color: #BDBDBD;    
  --secondary-color: #1A1A1A  ;   
  --color-accent: #B0B0B0  ;     
  --color-dark:  #444  ;   
  --color-muted: #888 ;      
  --color-light-text: #E0E0E0 ;  
  --shadow-xs: 0 1px 4px rgb(255 255 255 / 10%);
	--shadow-sm: 0 2px 6px rgb(255 255 255 / 12%);
	--shadow-md: 0 4px 8px rgb(255 255 255 / 20%);
	--shadow-lg: 0 4px 10px rgb(255 255 255 / 25%);
}

html, body {
	overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  border: 0;
}